<ion-header>
  <ion-toolbar>
    <ion-title>directions</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-icon class="icon" name="arrow-back-outline" [routerLink]="['/home']" size="large"></ion-icon>
  <ion-item>
    <ion-label position="floating">Enter Starting Location</ion-label>
    <ion-input [(ngModel)]="source"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Enter Restaurant Location</ion-label>
    <ion-input [(ngModel)]="destination"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="onPress($event)">Search</ion-button>
  <ion-card>
    <div #mapContainer class="map"></div>
    <ion-card-header>
      <ion-card-subtitle>Current Location</ion-card-subtitle>
      <ion-card-title>{{location}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>Current Address: {{address}}</ion-card-content>
  </ion-card>
</ion-content>
