<ion-header>
  <ion-toolbar>
    <ion-title>Detailed Restaurant View</ion-title>
  </ion-toolbar>
</ion-header>

<button class="back"  [routerLink]="['/home']" >Back</button>
<ion-content class="content" [fullscreen]="true">
  <ion-card>
  <div>
     <div>
       <img class="pic" src={{info.photo}}>
       <h1 class="title">{{info.name}}</h1>
       <p class="address">{{info.address}}</p>
       <p class="phone">{{info.number}}</p>
       <p class="desc">{{info.desc}}</p>
       <p class="tags">Tags: {{info.cuisine_type}}</p>
    </div>
    <br>

  </div>
  </ion-card>
  
</ion-content>
