.content{
    background-color: white;

}
.img{
    margin-bottom: 0%;
}
h1{
    margin-top: 0%;
    font-size: 25px;
    text-decoration:solid;
    background-color: orange;
    padding: 12px;
    color: white;
    text-align: center;
}
p{
    font-size: 13px;
}
ion-content{
    color: white;
}
.body{
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 2rem;
  }
.back{
    background-color: orange;
    padding: .7rem 2rem;
    border-radius: 1.1rem;
    font-size: .8rem;
    color: white;
    margin-top: 0;
    float: right;
    margin-bottom: 15px;
  }
.sub{
    margin-top: .6rem;
    font-weight: bold;
    text-decoration: underline;
}

.sub-value{
    margin-top: 0;
    margin-bottom: .6rem;
}
.header{
    font-weight: bold;
    font-size: 1.5rem;
}
.icon{
    padding: 1rem;
}

ion-card{
    margin-top: 0%;
}