@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: blue;
}
.body{
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 2rem;
}
.sub{
  margin-top: .6rem;
  font-weight: bold;
  text-decoration: underline;
}
.header{
  font-weight: bold;
  font-size: 1.5rem;
}
.sub-value{
  margin-top: 0;
  margin-bottom: .6rem;
}
.shareBtn{
  background-color: orange;
  padding: .7rem;
  border-radius: 1.1rem;
  font-size: .8rem;
  color: white;
  margin-top: 0;
}
.btnDiv{
  display: flex;
  justify-content: space-between;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}
.navbarr{
  float: right;
}
.Btn{
 display: flex;
 justify-content: space-between;
}
.icon{
  padding: 1rem;
}
.fancy-search {
  color: white;
  --icon-color: white;
  --border-radius: 1rem;
  --background: var(--charcoal, orange);
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.data{
  background-color: blue;
  text-decoration: none;
}

.btn{
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 5px 20px;
  font-size: 16px;
}

.btn:hover {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnDel{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid red;
  padding: 5px 20px;
  font-size: 12px;
}

.btnDel:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}